html {
    margin: 0px;
}

h1 { 
    margin: 0%;
}

#title {
    justify-content: space-around;
}

#nav-ul {
    font-family: 'arial narrow';
}

ul {
    margin: 0px;
}

body {
    background-color: #8ACE00;
    font-family:'arial narrow regular';
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    color: white;
    font-family: "arial narrow regular", sans-serif;
    width: 16%;
    border-radius: 20%;
}

body > header {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 12vh;
    align-items: center ;
    justify-content: space-around ;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;

}

.navbutton {
    color: white;
    text-decoration:none ;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}


#guide {
    display: flex;
    width: 500px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#brat-img {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#main-content {
    display: flex;
    font-family: 'arial narrow';
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto
}

#readtime {
    width: 150px;
    height: auto;
}



form {
    text-align: center;
    font-family: 'arial narrow';
}

h2 {
    text-align: center;
    font-family:'Arial narrow', Helvetica, sans-serif;
}

body > footer {
color: black;
}

#blockquote {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    font-family: 'arial narrow';
}

#para {
    font-family: 'arial narrow';
}

img {
    scale: 60%;
    align-items: center;
    margin: auto;
    
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 1px;
    }

#footer-ul > div > li > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'arial narrow'
    ;
}

footer {
    background-color: black;
    font-family: 'arial narrow';
}